---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: submariner-operator
    repo: https://raw.githubusercontent.com/submariner-io/submariner-charts/gh-pages/charts
    version: 0.21.0
    releaseName: submariner-operator
    namespace: submariner-operator
    valuesFile: values.yaml
resources: [gateway-loadbalancer-ip.yaml]
patches:
  - target:
      group: rbac.authorization.k8s.io
      kind: ClusterRole
      name: submariner-operator
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRole
      metadata:
        name: submariner-operator
  - target:
      group: rbac.authorization.k8s.io
      kind: ClusterRoleBinding
      name: submariner-operator
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: submariner-operator
  - target:
      group: rbac.authorization.k8s.io
      kind: ClusterRole
      name: submariner-gateway
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRole
      metadata:
        name: submariner-gateway
  - target:
      group: rbac.authorization.k8s.io
      kind: ClusterRoleBinding
      name: submariner-gateway
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: submariner-gateway
  - target:
      group: rbac.authorization.k8s.io
      kind: ClusterRole
      name: submariner-routeagent
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRole
      metadata:
        name: submariner-routeagent
  - target:
      group: rbac.authorization.k8s.io
      kind: ClusterRoleBinding
      name: submariner-routeagent
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: submariner-routeagent
  - target:
      group: rbac.authorization.k8s.io
      kind: ClusterRole
      name: submariner-lighthouse-agent
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRole
      metadata:
        name: submariner-lighthouse-agent
  - target:
      group: rbac.authorization.k8s.io
      kind: ClusterRoleBinding
      name: submariner-lighthouse-agent
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: submariner-lighthouse-agent
  - target:
      group: rbac.authorization.k8s.io
      kind: ClusterRole
      name: submariner-lighthouse-coredns
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRole
      metadata:
        name: submariner-lighthouse-coredns
  - target:
      group: rbac.authorization.k8s.io
      kind: ClusterRoleBinding
      name: submariner-lighthouse-coredns
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: submariner-lighthouse-coredns
  # Patch to add brokerK8sSecret since the chart doesn't support it in values
  - target:
      group: submariner.io
      kind: Submariner
      name: submariner
    patch: |-
      apiVersion: submariner.io/v1alpha1
      kind: Submariner
      metadata:
        name: submariner
      spec:
        brokerK8sSecret: submariner-broker-secret
        ceIPSecPSKSecret: submariner-ipsec-psk
  # Namespaced RBAC resources
  - target:
      group: rbac.authorization.k8s.io
      kind: Role
      name: submariner-metrics-reader
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: Role
      metadata:
        name: submariner-metrics-reader
  - target:
      group: rbac.authorization.k8s.io
      kind: Role
      name: submariner-gateway
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: Role
      metadata:
        name: submariner-gateway
  - target:
      group: rbac.authorization.k8s.io
      kind: Role
      name: submariner-operator
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: Role
      metadata:
        name: submariner-operator
  - target:
      group: rbac.authorization.k8s.io
      kind: Role
      name: submariner-routeagent
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: Role
      metadata:
        name: submariner-routeagent
  - target:
      group: rbac.authorization.k8s.io
      kind: RoleBinding
      name: read-submariner-metrics
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: RoleBinding
      metadata:
        name: read-submariner-metrics
  - target:
      group: rbac.authorization.k8s.io
      kind: RoleBinding
      name: submariner-gateway
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: RoleBinding
      metadata:
        name: submariner-gateway
  - target:
      group: rbac.authorization.k8s.io
      kind: RoleBinding
      name: submariner-operator
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: RoleBinding
      metadata:
        name: submariner-operator
  - target:
      group: rbac.authorization.k8s.io
      kind: RoleBinding
      name: submariner-routeagent
    patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: RoleBinding
      metadata:
        name: submariner-routeagent
